body {
    margin: 0; 
    padding: 0;
}



#sidebar{
    height:calc(100vh - 56px);
    margin: 0;
    background-color: #F6F5F5;
}



#list li{
   margin: 1rem;
   padding-top: 2rem;
   list-style-type: none;
}

#mainPage {
    background-color: #F6F5F5;

}

#container{

    justify-content: center;
    display: grid;
    gap: 60px;
    grid-template-columns: 20% 20% 20% 20%;
}

#navbarTop{
    background-color: #F6F5F5;
}

.carousel-item img {
    max-height:30vh; 
    width: auto;
    margin: 0 auto;
}


.card-link-det {
text-decoration: none;
color:rgb(30, 28, 28)
}
