body {
    margin: 0; 
    padding: 0;
}



#sidebar{
    height:calc(100vh - 56px);
    margin: 0;
    background-color: #F6F5F5;
}



#list li{
   margin: 1rem;
   padding-top: 2rem;
   list-style-type: none;
}

#mainPage {
    background-color: #F6F5F5;

}

#container{

    justify-content: center;
    display: grid;
    gap: 50px;
    margin-top:30px;
    grid-template-columns: 0.15fr 0.15fr 0.15fr 0.15fr;
   
}

@media screen and (max-width: 992px) {
    #container{

        justify-content: center;
        display: grid;
        gap: 50px;
        margin-top:30px;
        grid-template-columns: 0.30fr 0.30fr;
    }
  }


#navbarTop{
    background-color: #F6F5F5;
}

.carousel-item img {
    max-height:30vh; 
    width: auto;
    margin: 0 auto;
}


.card-title{
    font-size: medium;
}

.card-link-det {
text-decoration: none;
color:rgb(30, 28, 28);
font-size: small;
}


.card-link-price {
    text-decoration: none;
    color:rgb(141, 8, 8);
}
    
.bi{
    background-color: #F6F5F5;
    border-radius: 3px;
    border-color:transparent;
    position: absolute;
    bottom: 40px;
    right: 15px;
    cursor: pointer;;

}